// Colors

$primary-clr: #0a2463;
$secondary-clr: #ead7d1;
$success-clr: #06ba63;
$danger-clr: #e12222;
$warning-clr: #ff6201;
$info-clr: #3b5249;
$dark-clr: #2f2f2f;
$light-clr: #dbcdc6;
$white-clr: #ffffff;
$black-clr: #000000;
$light-text-clr: #817373;
$overlay-clr: rgb(122 10 0 / 83%);
$page-bg-clr: #fffbfb;
$logo-clr: #7A0A00;

$primary-gradient-clr: linear-gradient(120deg, #0a2463, #1976d2);
$secondary-gradient-clr: linear-gradient(120deg, #ead7d1, #ecad9d);
$success-gradient-clr: linear-gradient(120deg, #06ba63, #038b4a);
$danger-gradient-clr: linear-gradient(120deg, #e12222, #ac1a1a);
$warning-gradient-clr: linear-gradient(120deg, #ff6201, #ff863b);
$info-gradient-clr: linear-gradient(120deg, #3b5249, #5d8374);
$dark-gradient-clr: linear-gradient(120deg, #2f2f2f, #585757);
$light-gradient-clr: linear-gradient(120deg, #dbcdc6, #dbb09b);
$light-gradient-clr: linear-gradient(120deg, #dbcdc6, #dbb09b);